@model Domain.DTO.RelatorioFinalDTO

<html>
<head>
</head>
<body>
    <main>
        <div class="header">
            <img src="../img/aluno.png" width="300" class="center-img">
            <h1>Quizz</h1>
        </div>
        <div class="body">
            Aluno(a) @Model.NomeAluno , Conseguiu a pontuação @Model.Pontuacao no
            Quizz @Model.NomeQuizz !


            Total Porcentagem do seu desempenho: @Model.Porcentagem %
        </div>

    </main>
</body>
</html>