@model Domain.Models.Quizz

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QuizzDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="QuizzId" class="control-label"></label>
                <input asp-for="QuizzId" class="form-control" />
                <span asp-validation-for="QuizzId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
                <label class="form-group float-right">
                    <a asp-controller="Pergunta" asp-action="IndexEdit" asp-route-id="@Model.QuizzId">Perguntas</a>
                </label>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

